<footer id="footer">
  <% if (theme.sidebar === 'bottom'){ %>
    <%- partial('_partial/sidebar') %>
  <% } %>

  <div class="container">
      	<div class="row">
	      <p> <%= __('powered_by') %> <a href="http://hexo.io/" target="_blank" rel="noopener noreferrer">Hexo</a> and <a href="https://github.com/iTimeTraveler/hexo-theme-hiker" target="_blank" rel="noopener noreferrer">Hexo-theme-hiker</a> </p>
	      <p id="copyRightEn">Copyright &copy; <%= theme.since ||  (date(new Date(), 'YYYY')-1)%> - <%= date(new Date(), 'YYYY') %> <%= config.title || config.author %> All Rights Reserved.</p>
	      
	      <% if (theme.show_busuanzi_view_counts){ %>
    		<p class="busuanzi_uv">
				<%= __('site_uv') %> : <span id="busuanzi_value_site_uv"></span> |  
				<%= __('site_pv') %> : <span id="busuanzi_value_site_pv"></span>
		    </p>
  		   <% } else { %>
  		   	<p id="copyRightCn"><%= __('right_reserved', config.author || config.title) %></p>
  		   <% } %>
		</div>

		
  </div>
</footer>


<!-- min height -->

<script>
    var wrapdiv = document.getElementById("wrap");
    var contentdiv = document.getElementById("content");
    var allheader = document.getElementById("allheader");

    wrapdiv.style.minHeight = document.body.offsetHeight + "px";
    if (allheader != null) {
      contentdiv.style.minHeight = document.body.offsetHeight - allheader.offsetHeight - document.getElementById("footer").offsetHeight + "px";
    } else {
      contentdiv.style.minHeight = document.body.offsetHeight - document.getElementById("footer").offsetHeight + "px";
    }
</script>